<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="stark.a.is.zhang.wifitest">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--<receiver-->
            <!--android:name=".WiFiReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
              <!--&lt;!&ndash;  //"android.net.wifi.STATE_CHANGE"-->
                <!--// "android.net.wifi.WIFI_STATE_CHANGED";-->

                <!--//"android.net.conn.CONNECTIVITY_CHANGE"-->
                <!--//"android.net.wifi.supplicant.CONNECTION_CHANGE"-->
                <!--// "android.net.wifi.supplicant.STATE_CHANGE"&ndash;&gt;-->

                <!--<action android:name="android.net.wifi.STATE_CHANGE"/>-->
                <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>-->
                <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED_ACTION"/>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>-->
                <!--<action android:name="android.net.wifi.supplicant.STATE_CHANGE"/>-->

            <!--</intent-filter>-->
        <!--</receiver>-->
        <receiver android:exported="false" android:name=".WiFiReceiver">
            <intent-filter android:priority="0x7FFFFFFF">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>
        <activity android:name=".WebActivity">
        </activity>
    </application>

</manifest>